<app-git (searchUser)="search($event)"></app-git>
<br><hr><br><br><br><br><br>
<div class="whole">
<div class="row">
  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" *ngIf='data'  src="{{data.avatar_url}}" alt="Card image cap">
          <div class="card-body login">
            <h4 *ngIf='data' class="card-text"> {{data.login}}</h4>
          </div>
        </div>
  </div>
  <div class="col-md-6">
      
 <ul class="list-group">
  <li class="list-group-item"><strong>name: </strong>{{data.login}}</li>
  <li class="list-group-item"><strong>Repository: </strong>{{data.public_repos}}</li>
  <li class="list-group-item"><strong>Followers: </strong> {{data.followers}}</li>
  <li class="list-group-item"><strong>Following: </strong> {{data.following}}</li>
  
 </ul> 

  </div>
        
   </div>
   <br><hr><br>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
        <h4 class=""><b>Repositories</b></h4>
        <!-- for loop to display the repos -->
        <div class="jumbotron" *ngFor='let repo of repos'>
          
            <h4 > <a href="{{repo.html_url}} " target="_blank">{{repo.name}} 

              </a>
            </h4>
            <p>{{repo.description}}</p> 
            <p>Forks: {{repo.forks}}</p>
            <p>Language used: {{repo.language}}</p>
            <hr>
          </div>
     </div>
     
        <div class="col-md-2"></div>
   </div>
      
  </div>



<router-outlet></router-outlet>
