<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<!--heading  -->

<ul>

  <li id="headname">
    <p><em>repositories</em></p>
  </li>

  <li id="headimg">
    <h1><img src="https://png.pngtree.com/svg/20160530/git__62079.png" alt="" id="git">Repo <span id="blue">S</span><span id="red">E</span><span id="golden">A</span><span id="blue">R</span><span id="green">C</span><span id="red">H</span></h1>
  </li>


  <br><br><br><br><br><br><br><br><br>
  <li id="headsrch">
    <div class="ui massive action input" id="search">
      <input type="text" placeholder="Search user..." [(ngModel)]="username">
      <button class="ui icon button" (click)="repos()">
        <i class="search icon"></i>
      </button>
    </div>
  </li>
</ul>


<br><br><br><br><br>


<div *ngFor="let repo of reposs">

  <div id="repy" >

    <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Specifications
  </h4>
  <table class="ui definition table">
    <tbody>
      <tr>
        <td class="two wide column">name</td>
        <td>{{repo.name}}</td>
      </tr>
      <tr>
        <td>language</td>
        <td>{{repo.language}}</td>
      </tr>
      <tr>
        <td>forks</td>
        <td>{{repo.forks}}</td>
      </tr>
      <tr>
        <td>view</td>
        <td><a href="{{repo.git_url}}">View on github</a></td>
      </tr>
    </tbody>
  </table>

  </div>

  <br><br><br><br><br><br>



</div>

